.cart {
  box-sizing: border-box;
}

.cartitemBox {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 150px;
  padding-left: 40px;
}

.billstatement {
  color: aliceblue;
  position: absolute;
  min-height: 70vh;
  width: 30vw;
  min-width: 450px;
  padding: 20px 40px;
  right: 50px;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(17, 12, 12);
}

.listitem {
  margin-top: 10px;
  padding: 3px 10px;
  color: aliceblue;
  width: 100%;
  display: flex;
  background-color: rgb(30, 27, 27);
  justify-content: space-between;
}

.bill {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.bilBtn{
  display: none;
  color: aliceblue;
  background-color: var(--btnOrange);
  width: auto;
  position: absolute;
  transform: translateY(-60px);
  margin-right: 10px;
  right: 0px;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  border: none;
  outline: none;
  height: 35px;
}
.checkout {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.checkout > button {
  width: 200px;
  height: 40px;
}


@media screen and (max-width:1030px) {
  .cartitemBox {
width: 40vw;
    padding: 30px 10px;
    padding-left: 30px;
 
   }
  



}

@media screen and (max-width:850px) {

  .bilBtn{
    display: flex;
    font-weight: 600;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.508);
  }
  .cartitemBox {
   width: 90vw;
   padding:0px ;
   margin: 30px 5vw;
   justify-content: center;
  }

  .billstatement {
    position: unset;
    width: 90vw;
    min-width: 300px;
    margin:40px auto ;
  }



}
