.cart {
  box-sizing: border-box;
}

.cartitemBox {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 50px;
}

.billstatement {
  color: aliceblue;
  position: absolute;
  min-height: 70vh;
  width: 30vw;
  padding: 20px 40px;
  right: 50px;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(17, 12, 12);
}

.listitem {
  margin-top: 10px;
  padding: 3px 10px;
  color: aliceblue;
  width: 100%;
  display: flex;
  background-color: rgb(30, 27, 27);
  justify-content: space-between;
}

.bill {
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.checkout {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}
.checkout > button {
  width: 200px;
  height: 40px;
}
