h1 {
  text-align: center;
}
.itemBox {
  padding: 20px 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 253px;
  border: 2px solid gray;
}
.title {
  height: 45px;
}

.imgBox > img {
  width: 147px;
  height: 150px;
}

.card > button {
  width: 148px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(18, 21, 21);
  outline: none;
  border: none;
  color: aliceblue;
}

.card > button:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}
