h1 {
  text-align: center;
}
.itemBox {
  padding: 20px 100px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  height: 254px;
  border: 2px solid gray;
}
.title {
  height: 45px;
}

.imgBox > img {
  width: 147px;
  height: 150px;
}

.card > button {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background-color: var(--btnOrange);
  outline: none;
  border: none;
  color: aliceblue;
}

.card > button:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}


@media screen and (max-width:1030px) {
  .itemBox {
    padding: 20px 50px;
  }
  



}

@media screen and (max-width:650px) {
  .itemBox {
    padding: 10px 20px;
  }


}
